.budget-form {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
}
.toggle-container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.toggle-button-4 {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    box-sizing: content-box;
    background-color: #9dffa033;
    cursor: pointer;
    transition: background-color .4s;
}

.toggle-button-4:has(:checked) {
    background-color: #ff8d8d33;
}

.toggle-button-4::before {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: rgb(10, 150, 0);
    content: '';
    transition: left .4s;
}

.toggle-button-4:has(:checked)::before {
    left: 50px;
    background-color: #ff0000;
}

.toggle-button-4::after {
    position: absolute;
    left: 26px;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 600;
    font-size: .9em;
    content: "収入";
    transition: left .4s;
}

.toggle-button-4:has(:checked)::after {
    left: 71px;
    content: "支出";
}

.toggle-button-4 input {
    display: none;
}
